---
# -- Name for this MySQL instance.
# @section -- General Settings
name: ""

# -- The value of the job label for scraped metrics and logs
# @section -- General Settings
jobLabel: integration/mysql

# Settings for metrics collection
metrics:
  # -- How frequently to scrape metrics from MySQL Exporter.
  # @default -- `60s`
  # @section -- Scrape Settings
  scrapeInterval:

  # -- The timeout for scraping metrics from MySQL Exporter.
  # @default -- `10s`
  # @section -- Scrape Settings
  scrapeTimeout: ""

  # -- Sets the max_cache_size for prometheus.relabel component.
  # This should be at least 2x-5x your largest scrape target or samples appended rate.
  # ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus.relabel/#arguments))
  # Overrides global.maxCacheSize
  # @default -- `100000`
  # @section -- Metric Processing Settings
  maxCacheSize:

  # Adjustments to the scraped metrics to filter the amount of data sent to storage.
  tuning:
    # -- Metrics to keep. Can use regular expressions.
    # @section -- Metric Processing Settings
    includeMetrics: []
    # -- Metrics to drop. Can use regular expressions.
    # @section -- Metric Processing Settings
    excludeMetrics: []

  # -- Rule blocks to be added to the prometheus.relabel component for MySQL metrics.
  # These relabeling rules are applied post-scrape against the metrics returned from the scraped target, no `__meta*` labels are present.
  # ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus/prometheus.relabel/#rule-block))
  # @section -- Metric Processing Settings
  extraMetricProcessingRules: ""

# Settings for log gathering using the Pod Logs feature
logs:
  # -- Whether to enable special processing of MySQL pod logs.
  # @section -- Logs Settings
  enabled: true

  # -- The namespaces to look for MySQL pods in.
  # Will automatically look for MySQL pods in all namespaces unless specified here
  # @section -- Discovery Settings
  namespaces: []

  # -- Discover MySQL pods based on label selectors. At least one is required.
  # @section -- Discovery Settings
  labelSelectors: {}

# Settings for the Alloy-embedded MySQL Exporter
exporter:
  # -- Whether to database statistic metrics.
  # @section -- MySQL Exporter
  enabled: true

  # -- The list of collectors to enable for the MySQL Exporter ([Documentation](https://grafana.com/docs/alloy/latest/reference/components/prometheus/prometheus.exporter.mysql/#supported-collectors)).
  # @section -- MySQL Exporter
  collectors:
    heartbeat:
      enabled: true

    mysqlUser:
      enabled: true
      privileges: false

queryAnalysis:
  # -- Whether to gather table, schema, and query information from the database.
  # @section -- Query Analysis
  enabled: true

  # -- Whether to allow updates to performance_schema settings in any collector.
  # @section -- Query Analysis
  allowUpdatePerformanceSchemaSettings: false

  collectors:
    # Collect explain plans information.
    explainPlans:
      # -- Enable collection of explain plans information.
      # @section -- Query Analysis - Collectors
      enabled: false
      # -- How frequently to collect explain plans information from the database.
      # @section -- Query Analysis - Collectors
      collectInterval: 1m
      # -- List of schemas to exclude from explain plan collection.
      # @section -- Query Analysis - Collectors
      excludeSchemas: []
      # -- How far back to look for explain plan queries on the first collection interval.
      # @section -- Query Analysis - Collectors
      initialLookback: 24h
      # -- Ratio of explain plan queries to collect per collect interval.
      # @section -- Query Analysis - Collectors
      perCollectRatio: 1.0
    locks:
      # -- Enable collection of lock information.
      # @section -- Query Analysis - Collectors
      enabled: false
      # -- How frequently to collect lock information from the database.
      # @section -- Query Analysis - Collectors
      collectInterval: 1m
      # -- Threshold for locks to be considered slow. Locks that exceed this duration are logged.
      # @section -- Query Analysis - Collectors
      threshold: 1s

    # Collect queries information.
    queryDetails:
      # -- Enable collection of query information.
      # @section -- Query Analysis - Collectors
      enabled: true
      # -- How frequently to collect query information from the database.
      # @section -- Query Analysis - Collectors
      collectInterval: 1m

    # Collect query samples.
    querySamples:
      # -- Enable collection of query samples.
      # @section -- Query Analysis - Collectors
      enabled: true
      # -- How frequently to collect query samples from the database.
      # @section -- Query Analysis - Collectors
      collectInterval: 1m
      # - Collect unredacted SQL query text including parameters.
      # @section -- Query Analysis - Collectors
      disableQueryRedaction: false
      # -- Whether to enable some specific performance_schema.setup_consumers settings.
      # @section -- Query Analysis - Collectors
      autoEnableSetupConsumers: false
      # -- How frequently to check if setup_consumers are correctly enabled.
      # @section -- Query Analysis - Collectors
      setupConsumersCheckInterval: 1h

    # Collect schemas and tables from information_schema.
    schemaDetails:
      # -- Enable collection of schemas and tables from information_schema.
      # @section -- Query Analysis - Collectors
      enabled: true
      # -- How frequently to collect schemas and tables from information_schema.
      # @section -- Query Analysis - Collectors
      collectInterval: 1m
      # -- Whether to enable caching of table definitions.
      # @section -- Query Analysis - Collectors
      cacheEnabled: false
      # -- Table definitions cache size.
      # @section -- Query Analysis - Collectors
      cacheSize: 256
      # -- Table definitions cache TTL.
      # @section -- Query Analysis - Collectors
      cacheTTL: 10m

    # Collect enabled performance_schema.setup_consumers.
    setupConsumers:
      # -- Enable collection of performance_schema.setup_consumers information.
      # @section -- Query Analysis - Collectors
      enabled: true
      # -- How frequently to collect performance_schema.setup_consumers information from the database.
      # @section -- Query Analysis - Collectors
      collectInterval: 1m

# The data source connection details used when connecting the MySQL Exporter or query analysis.
dataSource:
  # -- The data source string to use for the MySQL Exporter.
  # @section -- Data Source Connection
  rawString: ""

  # -- The MySQL host to connect to.
  # @section -- Data Source Connection
  host: ""
  # -- The MySQL port to connect to.
  # @section -- Data Source Connection
  port: 3306
  # -- The MySQL protocol type.
  # @section -- Data Source Connection
  protocol: ""

  auth:
    # -- The username to use for the MySQL connection.
    # @section -- Data Source Connection
    username: ""
    # -- The key for storing the username in the secret.
    # @section -- Data Source Connection
    usernameKey: "username"
    # -- Raw config for accessing the username.
    # @section -- Data Source Connection
    usernameFrom: ""
    # -- The password to use for the MySQL connection.
    # @section -- Data Source Connection
    password: ""
    # -- The key for storing the password in the secret.
    # @section -- Data Source Connection
    passwordKey: "password"
    # -- Raw config for accessing the password.
    # @section -- Data Source Connection
    passwordFrom: ""

secret:
  # -- (bool) Whether to create a secret to store credentials for this MySQL integration instance.
  # @default -- `true`
  # @section -- Secret
  create:
  # -- If true, skip secret creation and embed the credentials directly into the configuration.
  # @section -- Secret
  embed: false
  # -- The name of the secret to create.
  # @section -- Secret
  name: ""
  # -- The namespace for the secret.
  # @section -- Secret
  namespace: ""
