---
# -- Name for this MySQL instance.
# @section -- General Settings
name: ""

# -- The value of the job label for scraped metrics and logs
# @section -- General Settings
jobLabel: integration/mysql

# Settings for metrics collection
metrics:
  # -- How frequently to scrape metrics from MySQL Exporter.
  # @default -- `60s`
  # @section -- Scrape Settings
  scrapeInterval:

  # -- The timeout for scraping metrics from MySQL Exporter.
  # @default -- `10s`
  # @section -- Scrape Settings
  scrapeTimeout: ""

  # -- Sets the max_cache_size for prometheus.relabel component.
  # This should be at least 2x-5x your largest scrape target or samples appended rate.
  # ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus.relabel/#arguments))
  # Overrides global.maxCacheSize
  # @default -- `100000`
  # @section -- Metric Processing Settings
  maxCacheSize:

  # Adjustments to the scraped metrics to filter the amount of data sent to storage.
  tuning:
    # -- Metrics to keep. Can use regular expressions.
    # @section -- Metric Processing Settings
    includeMetrics: []
    # -- Metrics to drop. Can use regular expressions.
    # @section -- Metric Processing Settings
    excludeMetrics: []

  # -- Rule blocks to be added to the prometheus.relabel component for MySQL metrics.
  # These relabeling rules are applied post-scrape against the metrics returned from the scraped target, no `__meta*` labels are present.
  # ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus/prometheus.relabel/#rule-block))
  # @section -- Metric Processing Settings
  extraMetricProcessingRules: ""

# Settings for log gathering using the Pod Logs feature
logs:
  # -- Whether to enable special processing of MySQL pod logs.
  # @section -- Logs Settings
  enabled: true

  # -- The namespaces to look for MySQL pods in.
  # Will automatically look for MySQL pods in all namespaces unless specified here
  # @section -- Discovery Settings
  namespaces: []

  # -- Discover MySQL pods based on label selectors. At least one is required.
  # @section -- Discovery Settings
  labelSelectors: {}

# Settings for the Alloy-embedded MySQL Exporter
exporter:
  enabled: true

  # -- The list of collectors to enable for the MySQL Exporter ([Documentation](https://grafana.com/docs/alloy/latest/reference/components/prometheus/prometheus.exporter.mysql/#supported-collectors)).
  # @section -- Exporter Settings
  collectors:
    heartbeat:
      enabled: true

    mysqlUser:
      enabled: true
      privileges: false

queryAnalysis:
  enabled: true

  allowUpdatePerformanceSchemaSettings: false

  collectors:
    explainPlans:
      enabled: false
      collectInterval: 1m
      excludeSchemas: []
      initialLookback: 24h
      perCollectRatio: 1.0
    locks:
      enabled: false
      collectInterval: 1m
      threshold: 1s
    queryDetails:
      enabled: true
      collectInterval: 1m
    querySamples:
      enabled: true
      collectInterval: 1m
      disableQueryRedaction: false
      autoEnableSetupConsumers: false
      setupConsumersCheckInterval: 1h
    schemaDetails:
      enabled: true
      collectInterval: 1m
      cacheEnabled: false
      cacheSize: 256
      cacheTTL: 10m
    setupConsumers:
      enabled: true
      collectInterval: 1m

# The data source connection details used when connecting the MySQL Exporter or query analysis.
dataSource:
  # -- The data source string to use for the MySQL Exporter.
  # @section -- Datasource Connection
  rawString: ""

  # -- The MySQL host to connect to.
  # @section -- Datasource Connection
  host: ""
  # -- The MySQL port to connect to.
  # @section -- Datasource Connection
  port: 3306
  # -- The MySQL protocol type.
  # @section -- Datasource Connection
  protocol: ""

  auth:
    # -- The username to use for the MySQL connection.
    # @section -- Datasource Connection
    username: ""
    # -- The key for storing the username in the secret.
    # @section -- Datasource Connection
    usernameKey: "username"
    # -- Raw config for accessing the username.
    # @section -- Datasource Connection
    usernameFrom: ""
    # -- The password to use for the MySQL connection.
    # @section -- Datasource Connection
    password: ""
    # -- The key for storing the password in the secret.
    # @section -- Datasource Connection
    passwordKey: "password"
    # -- Raw config for accessing the password.
    # @section -- Datasource Connection
    passwordFrom: ""

secret:
  # -- (bool) Whether to create a secret to store credentials for this MySQL integration instance.
  # @default -- `true`
  # @section -- Secret
  create:
  # -- If true, skip secret creation and embed the credentials directly into the configuration.
  # @section -- Secret
  embed: false
  # -- The name of the secret to create.
  # @section -- Secret
  name: ""
  # -- The namespace for the secret.
  # @section -- Secret
  namespace: ""
