---
# -- Name override
# @section -- General settings
nameOverride: ""

# -- Full name override
# @section -- General settings
fullnameOverride: ""

journal:
  # -- The path to the journal logs on the worker node.
  # @section -- Journal Logs
  path: "/var/log/journal"

  # -- The path to the journal logs on the worker node.
  # @section -- Journal Logs
  maxAge: "8h"

  # -- The value for the job label for journal logs.
  # @section -- Journal Logs
  jobLabel: "integrations/kubernetes/journal"

  # -- Whether to forward the original journal entry as JSON.
  # @section -- Journal Logs
  formatAsJson: false

  # -- The list of systemd units to keep scraped logs from, this can be a valid RE2 regex. If empty, all units are scraped.
  # @section -- Journal Logs
  units: []
  #  - kubelet.service
  #  - docker.service
  #  - containerd.service
  #  - node-problem-detector.service

# -- Rule blocks to be added used with the loki.source.journal component for journal logs.
# These relabeling rules are applied pre-scrape against the targets from service discovery.
# Before the scrape, any remaining target labels that start with `__` (i.e. `__meta_kubernetes*`) are dropped.
# ([docs](https://grafana.com/docs/alloy/latest/reference/components/discovery/discovery.relabel/#rule-block))
# **Note:** Many field names from journald start with an `_`, such as `_systemd_unit`. The final internal label name would
# be `__journal__systemd_unit`, with two underscores between `__journal` and `systemd_unit`.
# @section -- Journal Logs
extraDiscoveryRules: ""

# -- Stage blocks to be added to the loki.process component for journal logs.
# ([docs](https://grafana.com/docs/alloy/latest/reference/components/loki/loki.process/#blocks))
# This value is templated so that you can refer to other values from this file.
# @section -- Journal Logs
extraLogProcessingStages: ""

# -- The list of labels to keep on the logs, all other pipeline labels will be dropped.
# @section -- Processing settings
labelsToKeep:
  - instance
  - job
  - level
  - name
  - unit
  - service_name
  - source

# -- The structured metadata mappings to set.
# To not set any structured metadata, set this to an empty object (e.g. `{}`)
# Format: `<key>: <extracted_key>`.
# Example:
# structuredMetadata:
#   detected_level: level
# @section -- Processing settings
structuredMetadata: {}

# @ignore
deployAsConfigMap: false
