{{- if .Values.deployAsConfigMap }}
{{- include "feature.REPLACE_WITH_featureName.validate" . }}
{{- $alloyConfig := include "feature.REPLACE_WITH_featureName.module" . }}
{{- $alloyConfig = regexReplaceAll `[ \t]+(\r?\n)` $alloyConfig "\n" }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Chart.Name }}-test-config
  namespace: {{ .Release.Namespace }}
data:
  module.alloy: |-
    {{- $alloyConfig | trim | nindent 4 }}
{{- end }}
