---
cluster:
  name: db-o11y-mysql-test

destinations:
  - name: prometheus
    type: prometheus
    url: http://prometheus-server.prometheus.svc:9090/api/v1/write
  - name: loki
    type: loki
    url: http://loki.loki.svc:3100/loki/api/v1/push
    tenantId: "1"
    auth:
      type: basic
      username: loki
      password: lokipassword

integrations:
  collector: alloy-singleton
  mysql:
    instances:
      - name: test-db
        jobLabel: integrations/db-o11y
        exporter:
          enabled: true
          collectors:
            perfSchemaEventsStatements:
              enabled: true
          dataSource:
            host: test-database-mysql.mysql.svc
            auth:
              usernameKey: mysql-username
              passwordKey: mysql-root-password
        databaseObservability:
          enabled: true
        secret:
          create: false
          name: test-database-mysql
          namespace: mysql
        logs:
          enabled: true
          labelSelectors:
            app.kubernetes.io/instance: test-database

podLogs:
  enabled: true

alloy-singleton:
  enabled: true
  alloy:
    stabilityLevel: experimental

alloy-logs:
  enabled: true
