# This file is used to define the owners of the code in this repository.
# https://help.github.com/articles/about-codeowners/

# Global owners
*                                                                 @petewall @rlankfo

# Chart owners
charts/k8s-monitoring/charts/feature-annotation-autodiscovery     @grafana/k8s-monitoring-dev
charts/k8s-monitoring/charts/feature-cluster-events               @grafana/k8s-monitoring-dev
charts/k8s-monitoring/charts/feature-cluster-metrics              @grafana/k8s-monitoring-dev
charts/k8s-monitoring/charts/feature-pod-logs                     @grafana/k8s-monitoring-dev
charts/k8s-monitoring/charts/feature-profiling                    @simonswine
charts/k8s-monitoring/charts/feature-prometheus-operator-objects  @grafana/k8s-monitoring-dev
charts/k8s-monitoring-v1                                          @grafana/k8s-monitoring-dev
