# This file is used to define the owners of the code in this repository.
# https://help.github.com/articles/about-codeowners/

# Global owners
*                                           @petewall

# Chart owners
charts/feature-annotation-autodiscovery     @grafana/k8s-monitoring-dev
charts/feature-application-observability    @rlankfo
charts/feature-cluster-events               @grafana/k8s-monitoring-dev
charts/feature-cluster-metrics              @grafana/k8s-monitoring-dev
charts/feature-frontend-observability       @rlankfo
charts/feature-pod-logs                     @grafana/k8s-monitoring-dev
charts/feature-profiling                    @simonswine
charts/feature-prometheus-operator-objects  @grafana/k8s-monitoring-dev
charts/k8s-monitoring-v1                    @grafana/k8s-monitoring-dev
