# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# some files are sourced which can make some areas appear unreachable unless set
source-path=./scripts/includes
source-path=./scripts/includes/cluster
