# Allow opening any 'source'd file, even if not specified as input
external-sources=true

# some files are sourced which can make some areas appear unreachable
disable=SC2317
disable=SC2250
disable=SC2312
