AZURE_ITEM="op://Helm Maintainers/Azure k8s-monitoring-helm-cluster-creator"
export AZURE_CONFIG_DIR=$(pwd)/.azure
export AZURE_CLIENT_ID=$(op --account grafana.1password.com read "${AZURE_ITEM}/username")
export AZURE_TENANT_ID=$(op --account grafana.1password.com read "${AZURE_ITEM}/tenant id")
export AZURE_SUBSCRIPTION_ID=$(op --account grafana.1password.com read "${AZURE_ITEM}/subscription id")
export AZURE_DEFAULTS_GROUP=$(op --account grafana.1password.com read "${AZURE_ITEM}/resource group")
az login --service-principal --username "${AZURE_CLIENT_ID}" --password="$(op --account grafana.1password.com read "${AZURE_ITEM}/credential")" --tenant "${AZURE_TENANT_ID}" -o none
az account set --subscription "${AZURE_SUBSCRIPTION_ID}"
export KUBECONFIG=$(pwd)/kubeconfig.yaml

export GRAFANA_CLOUD_METRICS_USERNAME=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Prometheus/username")
export GRAFANA_CLOUD_LOGS_USERNAME=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Loki/username")
export GRAFANA_CLOUD_RW_POLICY_TOKEN=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Loki/password")
