export AZURE_SUBSCRIPTION_ID=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/Azure/subscription id")
export AZURE_TENANT_ID=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/Azure/tenant id")
export AZURE_CLIENT_ID=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/Azure/client id")

export GRAFANA_CLOUD_METRICS_USERNAME=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Prometheus/username")
export GRAFANA_CLOUD_LOGS_USERNAME=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Loki/username")
export GRAFANA_CLOUD_RW_POLICY_TOKEN=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Loki/password")
export RANDOM_NUMBER=$(shuf -i 100000-999999 -n 1)