---
cluster:
  name: cost-metrics-example-cluster

destinations:
  - name: prometheus
    type: prometheus
    url: http://prometheus.prometheus.svc:9090/api/v1/write

clusterMetrics:
  enabled: true

costMetrics:
  enabled: true

alloy-metrics:
  enabled: true

telemetryServices:
  kube-state-metrics:
    deploy: true
  opencost:
    deploy: true
    metricsSource: prometheus
    opencost:
      exporter:
        defaultClusterId: cost-metrics-example-cluster
      prometheus:
        external:
          url: http://prometheus.prometheus.svc:9090/api/v1/query
