# -- Name override
# @section -- General settings
nameOverride: ""

# -- Full name override
# @section -- General settings
fullnameOverride: ""

global:
  # -- How frequently to scrape metrics.
  # @section -- Global Settings
  scrapeInterval: 60s

  # -- Sets the max_cache_size for every prometheus.relabel component. ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus.relabel/#arguments))
  # This should be at least 2x-5x your largest scrape target or samples appended rate.
  # @section -- Global Settings
  maxCacheSize: 100000

# -- Scrape metrics from Grafana Alloy
# @section -- Integration: Alloy
alloy:
  instances: []

# -- Scrape metrics from cert-manager
# @section -- Integration: cert-manager
cert-manager:
  instances: []

# -- Scrape metrics from etcd
# @section -- Integration: etcd
etcd:
  instances: []

# @ignore
deployAsConfigMap: false
