---
cluster:
  name: host-metrics-example-cluster

destinations:
  - name: prometheus
    type: prometheus
    url: http://prometheus.prometheus.svc:9090/api/v1/write

hostMetrics:
  enabled: true
  linuxHosts:
    enabled: true
  windowsHosts:
    enabled: true
  energyMetrics:
    enabled: true

alloy-metrics:
  enabled: true

telemetryServices:
  node-exporter:
    deploy: true
  windows-exporter:
    deploy: true
  kepler:
    deploy: true
