---
cluster:
  name: name-override-test


destinations:
  - name: prometheus
    type: prometheus
    url: http://prometheus.prometheus.svc:9090/api/v1/write

clusterMetrics:
  enabled: true

costMetrics:
  enabled: true
  opencost:
    labelMatchers:
      app.kubernetes.io/name: cost-metric-source

hostMetrics:
  enabled: true
  energyMetrics:
    enabled: true
    labelMatchers:
      app.kubernetes.io/name: energy-metric-source
  linuxHosts:
    labelMatchers:
      app.kubernetes.io/name: node-metric-source

telemetryServices:
  kube-state-metrics:
    deploy: true
  kepler:
    deploy: true
    nameOverride: energy-metric-source
  node-exporter:
    deploy: true
    nameOverride: node-metric-source
  opencost:
    deploy: true
    nameOverride: cost-metric-source
    metricsSource: prometheus
    opencost:
      exporter:
        defaultClusterId: name-override-test
      prometheus:
        external:
          url: http://prometheus.prometheus.svc:9090/api/v1/query

alloy-metrics:
  enabled: true
  nameOverride: metric-collector
