apiVersion: v2
name: k8s-monitoring
description: A Helm chart for gathering, scraping, and forwarding Kubernetes infrastructure metrics and logs to a Grafana Stack.
type: application
version: 0.6.1
appVersion: 1.5.0
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
sources:
  - https://github.com/grafana/k8s-monitoring-helm/tree/main/charts/k8s-monitoring
maintainers:
  - email: pete.wall@grafana.com
    name: petewall
  - email: stephen.lang@grafana.com
    name: skl
dependencies:
- name: grafana-agent
  version: 0.29.0
  repository: https://grafana.github.io/helm-charts
- alias: grafana-agent-logs
  name: grafana-agent
  version: 0.29.0
  repository: https://grafana.github.io/helm-charts
  condition: logs.pod_logs.enabled
- name: kube-state-metrics
  version: 5.15.2
  repository: https://prometheus-community.github.io/helm-charts
  condition: kube-state-metrics.enabled
- name: prometheus-node-exporter
  version: 4.24.0
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus-node-exporter.enabled
- name: prometheus-operator-crds
  version: 8.0.1
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus-operator-crds.enabled
- name: prometheus-windows-exporter
  version: 0.1.2
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus-windows-exporter.enabled
- name: opencost
  version: 1.27.0
  repository: https://opencost.github.io/opencost-helm-chart
  condition: opencost.enabled
