---
apiVersion: v2
name: k8s-monitoring
description: A Helm chart for gathering, scraping, and forwarding Kubernetes telemetry data to a Grafana Stack.
type: application
version: 1.4.8
appVersion: 2.8.0
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
sources:
  - https://github.com/grafana/k8s-monitoring-helm/tree/main/charts/k8s-monitoring
maintainers:
  - email: pete.wall@grafana.com
    name: petewall
  - email: stephen.lang@grafana.com
    name: skl
dependencies:
  - name: alloy
    version: 0.6.0
    repository: https://grafana.github.io/helm-charts
  - alias: alloy-events
    name: alloy
    version: 0.6.0
    repository: https://grafana.github.io/helm-charts
    condition: logs.cluster_events.enabled
  - alias: alloy-logs
    name: alloy
    version: 0.6.0
    repository: https://grafana.github.io/helm-charts
    condition: logs.pod_logs.enabled
  - alias: alloy-profiles
    name: alloy
    version: 0.6.0
    repository: https://grafana.github.io/helm-charts
    condition: profiles.enabled
  - alias: alloy-rules
    name: alloy
    version: 0.6.0
    repository: https://grafana.github.io/helm-charts
    condition: rules.enabled
  - name: kube-state-metrics
    version: 5.25.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-state-metrics.enabled
  - name: prometheus-node-exporter
    version: 4.38.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-node-exporter.enabled
  - name: prometheus-operator-crds
    version: 13.0.2
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-operator-crds.enabled
  - name: prometheus-windows-exporter
    version: 0.3.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-windows-exporter.enabled
  - name: opencost
    version: 1.41.0
    repository: https://opencost.github.io/opencost-helm-chart
    condition: opencost.enabled
  - name: kepler
    version: 0.5.9
    repository: https://sustainable-computing-io.github.io/kepler-helm-chart
    condition: kepler.enabled
