apiVersion: v2
name: k8s-monitoring
description: A Helm chart for gathering, scraping, and forwarding Kubernetes infrastructure metrics and logs to a Grafana Stack.
type: application

version: 0.0.8
appVersion: 1.1.6
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
maintainers:
  - email: pete.wall@grafana.com
    name: petewall
  - email: stephen.lang@grafana.com
    name: skl
dependencies:
- name: grafana-agent
  version: ~0.16.0
  repository: https://grafana.github.io/helm-charts
- name: kube-state-metrics
  version: ~5.8.1
  repository: https://prometheus-community.github.io/helm-charts
  condition: kube-state-metrics.enabled
- name: prometheus-node-exporter
  version: 4.18.1
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus-node-exporter.enabled
- name: prometheus-operator-crds
  version: ~5.0.0
  repository: https://prometheus-community.github.io/helm-charts
  condition: prometheus-operator-crds.enabled
- name: opencost
  version: ~1.16.1
  repository: https://opencost.github.io/opencost-helm-chart
  condition: opencost.enabled
