# Cluster settings
cluster:
  # -- (string) (required) The name of this cluster, which will be set in all labels
  name: ""

externalServices:
  # Connection information for Prometheus
  prometheus:
    # TODO: Add the ability to reference a pre-existing secret
    # -- (string) (required) Prometheus host where metrics will be sent
    host: ""
    # -- Prometheus metrics write endpoint
    writeEndpoint: /api/prom/push

    # Authenticate to Prometheus using basic authentication
    basicAuth:
      # -- (string) Prometheus basic auth username
      username: ""
      # -- (string) Prometheus basic auth password
      password: ""

  # Connection information for Grafana Loki
  loki:
    # TODO: Add the ability to reference a pre-existing secret
    # -- (string) (required) Loki host where logs and events will be sent
    host: ""
    # -- Loki logs write endpoint
    writeEndpoint: /loki/api/v1/push

    # Authenticate to Loki using basic authentication
    basicAuth:
      # -- (string) Loki basic auth username
      username: ""
      # -- (string) Loki basic auth password
      password: ""

# Settings related to capturing and forwarding metrics
metrics:
  # -- Capture and forward metrics
  enabled: true

  # Cluster object metrics from Kube State Metrics
  kube-state-metrics:
    # -- Scrape cluster object metrics from Kube State Metrics
    enabled: true

    # -- Label matchers used by the Grafana Agent to select the Kube State Metrics service
    labelMatchers:
      app.kubernetes.io/name: kube-state-metrics

    # Kube State Metrics service settings
    service:
      # -- Name of the metrics port
      port: http
      # -- Does this port use TLS?
      isTLS: false

    # -- The list of Kube State Metrics metrics that will be scraped by the Agent
    # @default -- See [Allow List for Kube State Metrics](#allow-list-for-kube-state-metrics)
    allowList:
    - kube_daemonset.*
    - kube_deployment_metadata_generation
    - kube_deployment_spec_replicas
    - kube_deployment_status_observed_generation
    - kube_deployment_status_replicas_available
    - kube_deployment_status_replicas_updated
    - kube_horizontalpodautoscaler_spec_max_replicas
    - kube_horizontalpodautoscaler_spec_min_replicas
    - kube_horizontalpodautoscaler_status_current_replicas
    - kube_horizontalpodautoscaler_status_desired_replicas
    - kube_job.*
    - kube_namespace_status_phase
    - kube_namespace_status_phase
    - kube_node.*
    - kube_persistentvolumeclaim_resource_requests_storage_bytes
    - kube_pod_container_info
    - kube_pod_container_resource_limits
    - kube_pod_container_resource_requests
    - kube_pod_container_status_restarts_total
    - kube_pod_container_status_waiting_reason
    - kube_pod_container_status_waiting_reason
    - kube_pod_info
    - kube_pod_owner
    - kube_pod_start_time
    - kube_pod_status_phase
    - kube_pod_status_phase
    - kube_pod_status_reason
    - kube_replicaset.*
    - kube_resourcequota
    - kube_statefulset.*

  # Node metrics from Node Exporter
  node-exporter:
    # -- Scrape node metrics
    enabled: true

    # -- Label matchers used by the Grafana Agent to select the Node exporter pods
    labelMatchers:
      app.kubernetes.io/name: prometheus-node-exporter.*

    # Node Exporter service settings
    service:
      # -- Does this port use TLS?
      isTLS: false

    # -- The list of Node Exporter metrics that will be scraped by the Agent
    # @default -- See [Allow List for Node Exporter](#allow-list-for-node-exporter)
    allowList:
    - node_cpu.*
    - node_exporter_build_info
    - node_filesystem.*
    - node_memory.*
    - process_cpu_seconds_total
    - process_resident_memory_bytes

  # Windows Node metrics from Windows Exporter
  windows-exporter:
    # -- Scrape node metrics
    enabled: false

    # -- Label matchers used by the Grafana Agent to select the Windows Exporter pods
    labelMatchers:
      app.kubernetes.io/name: prometheus-windows-exporter.*

    # -- The list of Windows Exporter metrics that will be scraped by the Agent
    # @default -- See [Allow List for Windows Exporter](#allow-list-for-windows-exporter)
    allowList:
      - windows_exporter_build_info
      - node_cpu_seconds_total #from windows_cpu_time_total
      - node_filesystem_size_bytes #from windows_logical_disk_size_bytes
      - node_filesystem_avail_bytes #from windows_logical_disk_free_bytes
      - container_memory_.* #from windows_container_memory_* - partially bugged (pod label missing)
      - container_cpu_usage_seconds_total #from windows_container_cpu_usage_seconds_total - partially bugged (pod label missing)
      - kubelet_node_name #from windows_cs_hostname
      - kubelet_running_containers #from windows_container_count, might map to kubelet_running_pod_count or kubelet_running_pods instead
      - node_memory_Mem.* #from windows_memory_available_bytes, windows_os_physical_memory_free_bytes and windows_cs_physical_memory_bytes
      - node_memory.* #from node_memory_.*

  # Cluster metrics from the Kubelet
  kubelet:
    # -- Scrape cluster metrics from the Kubelet
    enabled: true

    # -- The list of Kubelet metrics that will be scraped by the Agent
    # @default -- See [Allow List for Kubelet](#allow-list-for-kubelet)
    allowList:
    - container_cpu_usage_seconds_total
    - kubelet_certificate_manager_client_expiration_renew_errors
    - kubelet_certificate_manager_client_ttl_seconds
    - kubelet_certificate_manager_server_ttl_seconds
    - kubelet_cgroup_manager_duration_seconds_bucket
    - kubelet_cgroup_manager_duration_seconds_count
    - kubelet_node_config_error
    - kubelet_node_name
    - kubelet_pleg_relist_duration_seconds_bucket
    - kubelet_pleg_relist_duration_seconds_count
    - kubelet_pleg_relist_interval_seconds_bucket
    - kubelet_pod_start_duration_seconds_bucket
    - kubelet_pod_start_duration_seconds_count
    - kubelet_pod_worker_duration_seconds_bucket
    - kubelet_pod_worker_duration_seconds_count
    - kubelet_running_container_count
    - kubelet_running_containers
    - kubelet_running_pod_count
    - kubelet_running_pods
    - kubelet_runtime_operations_errors_total
    - kubelet_runtime_operations_total
    - kubelet_server_expiration_renew_errors
    - kubelet_volume_stats_available_bytes
    - kubelet_volume_stats_capacity_bytes
    - kubelet_volume_stats_inodes
    - kubelet_volume_stats_inodes_used
    - kubernetes_build_info
    - namespace_workload_pod
    - rest_client_requests_total
    - storage_operation_duration_seconds_count
    - storage_operation_errors_total
    - volume_manager_total_volumes

  # Container metrics from cAdvisor
  cadvisor:
    # -- Scrape container metrics from cAdvisor
    enabled: true

    # -- The list of cAdvisor metrics that will be scraped by the Agent
    # @default -- See [Allow List for cAdvisor](#allow-list-for-cadvisor)
    allowList:
    - container_cpu_cfs_periods_total
    - container_cpu_cfs_throttled_periods_total
    - container_cpu_usage_seconds_total
    - container_fs_reads_bytes_total
    - container_fs_reads_total
    - container_fs_writes_bytes_total
    - container_fs_writes_total
    - container_memory_cache
    - container_memory_rss
    - container_memory_swap
    - container_memory_working_set_bytes
    - container_network_receive_bytes_total
    - container_network_receive_packets_dropped_total
    - container_network_receive_packets_total
    - container_network_transmit_bytes_total
    - container_network_transmit_packets_dropped_total
    - container_network_transmit_packets_total
    - machine_memory_bytes

  # Cost related metrics from OpenCost
  cost:
    # -- Scrape cost metrics from OpenCost
    enabled: true

    # -- Label matchers used by the Grafana Agent to select the OpenCost service
    labelMatchers:
      app.kubernetes.io/name: opencost

    # -- The list of OpenCost metrics that will be scraped by the Agent
    # @default -- See [Allow List for OpenCost](#allow-list-for-opencost)
    allowList:
    - container_cpu_allocation
    - container_gpu_allocation
    - container_memory_allocation_bytes
    - deployment_match_labels
    - kubecost_cluster_info
    - kubecost_cluster_management_cost
    - kubecost_cluster_memory_working_set_bytes
    - kubecost_http_requests_total
    - kubecost_http_response_size_bytes
    - kubecost_http_response_time_seconds
    - kubecost_load_balancer_cost
    - kubecost_network_internet_egress_cost
    - kubecost_network_region_egress_cost
    - kubecost_network_zone_egress_cost
    - kubecost_node_is_spot
    - node_cpu_hourly_cost
    - node_gpu_count
    - node_gpu_hourly_cost
    - node_ram_hourly_cost
    - node_total_hourly_cost
    - opencost_build_info
    - pod_pvc_allocation
    - pv_hourly_cost
    - service_selector_labels
    - statefulSet_match_labels

  podMonitors:
    # -- Include service discovery for PodMonitor objects
    enabled: true

  serviceMonitors:
    # -- Include service discovery for ServiceMonitor objects
    enabled: true

# Settings related to capturing and forwarding logs
logs:
  # -- Capture and forward logs
  enabled: true

  # Settings for Kubernetes pod logs
  pod_logs:
    # -- Capture and forward logs from Kubernetes pods
    enabled: true

    # -- The log parsing format.
    # Must be one of null, 'cri', or 'docker'
    # See documentation: https://grafana.com/docs/agent/latest/flow/reference/components/loki.process/#stagecri-block
    loggingFormat: docker

  # Settings for scraping cluster evenrts
  cluster_events:
    # -- Scrape Kubernetes cluster events
    enabled: true

# -- (string) Extra configuration that will be added to the Grafana Agent configuration file.
# <details>
# <summary>+ Example</summary>
# An example extraConfig to discover and scrape metrics from a service:
# ```text
# discovery.relabel "my-service" {
#   targets = discovery.kubernetes.services.targets
#   rule {
#     source_labels = ["__meta_kubernetes_service_label_app_kubernetes_io_name"]
#     regex = "my-service"
#     action = "keep"
#   }
# }
#
# prometheus.scrape "my-service" {
#   job_name   = "integrations/my-service"
#   targets    = discovery.relabel.my-service.output
#   forward_to = [prometheus.relabel.add_cluster_label.receiver]
# }
# ```
# Note: "discovery.kubernetes.services" and
#       "prometheus.relabel.add_cluster_label" are pre-defined by this chart.
# </details>
extraConfig:

# Settings for the Kube State Metrics deployment
# You can use this sections to make modifications to the Kube State Metrics deployment.
# See https://github.com/prometheus-community/helm-charts/tree/main/charts/kube-state-metrics for available values.
kube-state-metrics:
  # -- Should this helm chart deploy Kube State Metrics to the cluster.
  # Set this to false if your cluster already has Kube State Metrics, or if you
  # do not want to scrape metrics from Kube State Metrics.
  enabled: true

# Settings for the Node Exporter deployment
# You can use this sections to make modifications to the Node Exporter deployment.
# See https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-node-exporter for available values.
prometheus-node-exporter:
  # -- Should this helm chart deploy Node Exporter to the cluster.
  # Set this to false if your cluster already has Node Exporter, or if you do
  # not want to scrape metrics from Node Exporter.
  enabled: true

# Settings for the Windows Exporter deployment
# You can use this sections to make modifications to the Windows Exporter deployment.
# See https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-windows-exporter for available values.
prometheus-windows-exporter:
  # -- Should this helm chart deploy Windows Exporter to the cluster.
  # Set this to false if your cluster already has Windows Exporter, or if you do
  # not want to scrape metrics from Windows Exporter.
  enabled: false

  config: |-
    collectors:
      enabled: cpu,cs,container,logical_disk,memory,net,os
    collector:
      service:
        services-where: "Name='containerd' or Name='kubelet'"

# Settings for the Prometheus Operator CRD deployment
# You can use this sections to make modifications to the Prometheus Operator CRD deployment.
# See https://github.com/prometheus-community/helm-charts/tree/main/charts/prometheus-operator-crds for available values.
prometheus-operator-crds:
  # -- Should this helm chart deploy the Prometheus Operator CRDs to the cluster.
  # Set this to false if your cluster already has the CRDs, or if you do not
  # to have the Grafana Agent scrape metrics from PodMonitors or ServiceMonitors.
  enabled: true

# Settings for the OpenCost deployment
# You can use this sections to make modifications to the OpenCost deployment.
# See https://github.com/opencost/opencost-helm-chart for available values.
opencost:
  # -- Should this Helm chart deploy OpenCost to the cluster.
  # Set this to false if your cluster already has OpenCost, or if you do
  # not want to scrape metrics from OpenCost.
  enabled: true

  opencost:
    # @ignored
    exporter:
      # @ignored
      extraEnv:
        # @ignored
        CLOUD_PROVIDER_API_KEY: AIzaSyD29bGxmHAVEOBYtgd8sYM2gM2ekfxQX4U
        # @ignored
        EMIT_KSM_V1_METRICS: "false"
        # @ignored
        EMIT_KSM_V1_METRICS_ONLY: "true"
        # @ignored
        PROM_CLUSTER_ID_LABEL: cluster

    prometheus:
      # @ignored
      secret_name: grafana-agent-credentials
      # @ignored
      username_key: prometheus_username
      # @ignored
      password_key: prometheus_password
      external:
        # @ignored
        enabled: true
        # -- The URL for Prometheus queries. It should match externalService.prometheus.host + "/api/prom"
        url: "https://prom.example.com/api/prom"
      # @ignored
      internal:
        # @ignored
        enabled: false
    # @ignored
    ui:
      # @ignored
      enabled: false

# Settings for the Grafana Agent deployment
# You can use this sections to make modifications to the Grafana Agent deployment.
# See https://github.com/grafana/agent/tree/main/operations/helm/charts/grafana-agent for available values.
# @ignored
grafana-agent:
  agent:
    # This chart is creating the configuration, so the grafana-agent chart does
    # not need to.
    configMap: {create: false}

    # This chart creates the credentials for Prometheus and Loki. This section
    # mounts those credentials into the Grafana Agent container.
    mounts:
      extra:
      - name: grafana-agent-credentials
        mountPath: /etc/grafana-agent-credentials

  controller:
    nodeSelector:
      kubernetes.io/os: linux

    # This chart creates the credentials for Prometheus and Loki. This section
    # connects those credentials into the Grafana Agent pod.
    volumes:
      extra:
      - name: grafana-agent-credentials
        secret:
          secretName: grafana-agent-credentials
