---
apiVersion: vendir.k14s.io/v1alpha1
kind: Config
directories:
  - path: alloyModules
    permissions: 0755
    contents:
      - path: .
        git:
          url: https://github.com/grafana/alloy-modules
          ref: origin/main
        includePaths:
          - modules/databases/kv/etcd/metrics.alloy
          - modules/kubernetes/core/metrics.alloy
          - modules/kubernetes/kube-state-metrics/metrics.alloy
          - modules/system/node-exporter/metrics.alloy