---
apiVersion: vendir.k14s.io/v1alpha1
kind: Config
directories:
  - path: alloyModules
    permissions: 0755
    contents:
      - path: .
        permissions: 0755
        git:
          url: https://github.com/grafana/alloy-modules
          ref: main
        includePaths:
          - modules/databases/kv/etcd/metrics.alloy
          - modules/kubernetes/cert-manager/metrics.alloy
