---
cluster:
  name: pod-logs-objects-cluster

destinations:
  - name: loki
    type: loki
    url: http://loki.loki.svc:3100/loki/api/v1/push
    tenantId: "1"
    auth:
      type: basic
      username: loki
      password: lokipassword

podLogsObjects:
  enabled: true
  nodeFilter: true

alloy-logs:
  enabled: true
  liveDebugging:
    enabled: true
  alloy:
    clustering:
      enabled: true
