{{- with "alloy-logs" }}
{{- $collectorName := . }}
{{- $collectorReleaseName := include "collector.alloy.fullname" (merge $ (dict "collectorName" $collectorName)) }}
{{- if and (index $.Values $collectorName).enabled (eq $.Values.global.platform "openshift") }}
  {{- $defaultValues := "collectors/alloy-values.yaml" | $.Files.Get | fromYaml }}
  {{- $collectorValues := mergeOverwrite $defaultValues (index $.Values $collectorName) }}
  {{- $usesHostPathVolumes := $collectorValues.alloy.mounts.varlog }}
---
apiVersion: security.openshift.io/v1
kind: SecurityContextConstraints
metadata:
  name: {{ $collectorReleaseName }}
allowHostDirVolumePlugin: {{ $usesHostPathVolumes }}
allowHostIPC: false
allowHostNetwork: false
allowHostPID: false
allowHostPorts: false
allowPrivilegeEscalation: false
allowPrivilegedContainer: false
allowedCapabilities:
- CHOWN
- DAC_OVERRIDE
- FOWNER
- FSETID
- KILL
- SETGID
- SETUID
- SETPCAP
- NET_BIND_SERVICE
- NET_RAW
- SYS_CHROOT
- MKNOD
- AUDIT_WRITE
- SETFCAP
defaultAddCapabilities: null
defaultAllowPrivilegeEscalation: false
forbiddenSysctls:
- '*'
fsGroup:
  type: RunAsAny
groups: []
priority: null
readOnlyRootFilesystem: false  # Set because Grafana Alloy needs to write to /tmp/alloy
requiredDropCapabilities: null
runAsUser:
  type: RunAsAny
seLinuxContext:
  type: RunAsAny
seccompProfiles:
  - runtime/default
supplementalGroups:
  type: RunAsAny
users: []
volumes:
{{- if $usesHostPathVolumes }}
- hostPath
{{- end }}
- configMap
- emptyDir
- projected
- secret
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: {{ $collectorReleaseName }}-scc
rules:
- verbs:
    - use
  apiGroups:
    - security.openshift.io
  resources:
    - securitycontextconstraints
  resourceNames:
    - {{ $collectorReleaseName }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: {{ $collectorReleaseName }}-scc
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: {{ $collectorReleaseName }}-scc
subjects:
- kind: ServiceAccount
  name: {{ $collectorReleaseName }}
  namespace: {{ $.Release.Namespace }}
{{- end }}
{{- end }}
