---
apiVersion: v2
name: k8s-monitoring-feature-cluster-metrics
description: Gathers Kubernetes Cluster metrics
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
sources:
  - https://github.com/grafana/k8s-monitoring-helm/tree/main/charts/feature-cluster-metrics
version: 1.0.0
appVersion: 1.0.0
maintainers:
  - email: pete.wall@grafana.com
    name: petewall
dependencies:
  - name: kube-state-metrics
    version: 5.27.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-state-metrics.deploy

  - alias: node-exporter
    name: prometheus-node-exporter
    version: 4.43.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: node-exporter.deploy

  - alias: windows-exporter
    name: prometheus-windows-exporter
    version: 0.7.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: windows-exporter.deploy

  - name: kepler
    version: 0.5.12
    repository: https://sustainable-computing-io.github.io/kepler-helm-chart
    condition: kepler.enabled

  - name: opencost
    version: 1.42.3
    repository: https://opencost.github.io/opencost-helm-chart
    condition: opencost.enabled
