#
# This values file will test the following features:
# * Pod & service annotation autodiscovery
# * MySQL integration
# * ServiceMonitor detection, scraping, and processing
#
cluster:
  name: ci-integrations-cluster

externalServices:
  prometheus:
    hostKey: prom-host
    basicAuth:
      usernameKey: prom-username
      passwordKey: prom-password
    queryEndpoint: /api/v1/query
    writeEndpoint: /api/v1/write
    secret:
      create: false
      name: combined
      namespace: monitoring
    tls:
      insecure_skip_verify: true
  loki:
    hostKey: loki-host
    tenantIdKey: loki-tenantId
    basicAuth:
      usernameKey: loki-username
      passwordKey: loki-password
    secret:
      create: false
      name: combined
      namespace: monitoring

metrics:
  serviceMonitors:
    extraMetricRelabelingRules: |-
      rule {
        source_labels = ["__name__"]
        action = "keep"
        regex = "loki.*"
      }
      rule {
        target_label = "source"
        action = "replace"
        replacement = "service-monitor"
      }
  cost:
    enabled: false

extraConfig: |
  remote.kubernetes.configmap "mysql_config" {
    name = "mysql-monitoring"
    namespace = "mysql"
  }

  module.string "mysql_metrics" {
    content = remote.kubernetes.configmap.mysql_config.data["metrics.river"]

    arguments {
      host = "mysql.mysql.svc.cluster.local"
      instance = "primary"
      namespace = "mysql"
      secret_name = "mysql"
      username = "root"
      password_key = "mysql-root-password"
      all_services = discovery.kubernetes.services.targets
      metrics_destination = prometheus.relabel.metrics_service.receiver
    }
  }

logs:
  extraConfig: |
    remote.kubernetes.configmap "mysql_config" {
      name = "mysql-monitoring"
      namespace = "mysql"
    }

    module.string "mysql_logs" {
      content = remote.kubernetes.configmap.mysql_config.data["logs.river"]

      arguments {
        instance = "primary"
        all_pods = discovery.relabel.pod_logs.output
        logs_destination = loki.write.grafana_cloud_loki.receiver
      }
    }

test:
  attempts: 20
  extraQueries:
  # Check for CertManager metrics, discovered by service annotations
  - query: "certmanager_clock_time_seconds{cluster=\"ci-integrations-cluster\", job=\"integrations/cert-manager\"}"
    type: promql

  # Check for Prometheus metrics, discovered by https pod annotations
  - query: "prometheus_build_info{job=\"integrations/prometheus\"}"
    type: promql

  # Check for MySQL metrics, discovered by the module loaded above in .extraConfig
  - query: "mysqld_exporter_build_info{cluster=\"ci-integrations-cluster\"}"
    type: promql

  # Check for LOki metrics, discovered by its ServiceMonitor object
  - query: "loki_build_info{cluster=\"ci-integrations-cluster\", source=\"service-monitor\"}"
    type: promql

  # Check for MySQL logs, discovered by the module loaded above in .logs.extraConfig
  - query: "{cluster=\"ci-integrations-cluster\", job=\"integrations/mysql\"}"
    type: logql

opencost:
  enabled: false
