---
# This values file will test the following features:
# * Control plane metrics
# * External Labels
# * Pod logs (via volumes)
# * Cluster Events
# * Profiles
#
cluster:
  name: ci-test-cluster

externalServices:
  prometheus:
    secret:
      create: false
      name: prometheus
    queryEndpoint: /api/v1/query
    writeEndpoint: /api/v1/write
    tls:
      insecure_skip_verify: true
    externalLabels:
      color: red
  loki:
    host: http://loki.loki.svc:3100
    tenantId: 1
    basicAuth:
      username: loki
      password: lokipassword
  tempo:
    host: tempo.tempo.svc:4317
    authMode: none
    tlsOptions: |-
      insecure             = true
      insecure_skip_verify = true
  pyroscope:
    host: http://pyroscope.pyroscope.svc:4040
    authMode: none
    tenantId: 1

metrics:
  apiserver:
    enabled: true
  kubeControllerManager:
    enabled: true
  kubeProxy:
    enabled: true
  kubeScheduler:
    enabled: true
  kube-state-metrics:
    metricsTuning:
      excludeMetrics:
        - kube_pod_info

logs:
  pod_logs:
    structuredMetadata:
      pod: ""
      name: app_kubernetes_io_name
  cluster_events:
    logToStdout: true

traces:
  enabled: true

profiles:
  enabled: true

rules:
  enabled: true
  mimir:
    enabled: false
  loki:
    rule_selectors:
      rule_type: loki

test:
  attempts: 20
  extraQueries:
    # Check that the external label is properly being set
    - query: "count(kube_node_info{cluster=\"ci-test-cluster\", color=\"red\"})"
      type: promql
      expect:
        value: 2
    # Check that the metrics exclusion list is working
    - query: "kube_pod_info{cluster=\"ci-test-cluster\"}"
      type: promql
      expect:
        count: 0
    # Check for cluster events
    - query: "count_over_time({cluster=\"ci-test-cluster\", job=\"integrations/kubernetes/eventhandler\"}[1h])"
      type: logql
    # Check for pod logs
    - query: "count_over_time({cluster=\"ci-test-cluster\", job!=\"integrations/kubernetes/eventhandler\"}[1h])"
      type: logql

    # Check for rule applied to Loki
    - query: "log_errors:count1m"
      type: logql

    # Check for profiles
    - query: '{cluster="ci-test-cluster"}'
      type: pyroql

    # DPM check
    - query: "avg(count_over_time(scrape_samples_scraped{cluster=\"ci-test-cluster\"}[1m]))"
      type: promql
      expect:
        value: 1
        operator: ==

extraConfig: |-
  tracing {
    sampling_fraction = 0.1
    write_to = [otelcol.processor.k8sattributes.default.input]
  }

opencost:
  opencost:
    defaultClusterId: ci-test-cluster
    exporter:
      extraEnv:
        INSECURE_SKIP_VERIFY: "true"
    prometheus:
      existingSecretName: prometheus
      username_key: username
      password_key: password
      external:
        url: https://prometheus-server.prometheus.svc.cluster.local:9090

alloy:
  liveDebugging:
    enabled: true
  alloy:
    stabilityLevel: experimental
  controller:
    replicas: 2

# Prometheus Operator CRDs are pre-installed in the CI environment
prometheus-operator-crds:
  enabled: false
