---
apiVersion: v2
name: feature-prometheus-operator-objects
description: Gathers metrics using Prometheus Operator Objects
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
sources:
  - https://github.com/grafana/k8s-monitoring-helm/tree/main/charts/k8s-monitoring/charts/feature-prometheus-operator-objects
version: 1.0.0
appVersion: 1.0.0
maintainers:
  - email: pete.wall@grafana.com
    name: petewall
dependencies:
  - alias: crds
    name: prometheus-operator-crds
    version: 24.0.2
    repository: https://prometheus-community.github.io/helm-charts
    condition: crds.deploy
