# Pyroscope Destination

This defines the options for defining a destination for profiles that use the Pyroscope protocol.

<!-- textlint-disable terminology -->
{{ template "chart.valuesSection" . }}
<!-- textlint-enable terminology -->
