---
cluster:
  name: gke-autopilot-test

externalServices:
  prometheus:
    host: https://prometheus.example.com
    basicAuth:
      username: 12345
      password: "It's a secret to everyone"
  loki:
    host: https://loki.example.com
    basicAuth:
      username: 12345
      password: "It's a secret to everyone"

metrics:
  node-exporter:
    enabled: false

prometheus-node-exporter:
  enabled: false

windows-exporter:
  hostPID: false
