export GRAFANA_CLOUD_FLEET_MGMT_USER=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Fleet Management/username")
export GRAFANA_CLOUD_FLEET_MGMT_TOKEN=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Fleet Management/password")
export GRAFANA_CLOUD_METRICS_USERNAME=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Prometheus/username")
export GRAFANA_CLOUD_RW_POLICY_TOKEN=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Prometheus/password")
export GRAFANA_SERVER=https://helmchart.grafana.net
export GRAFANA_CLOUD_STACK=helmchart
export GRAFANA_CLOUD_TOKEN=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Fleet Management/password")
export GRAFANA_TOKEN=$(op --account grafana.1password.com read  "op://Kubernetes Monitoring/helmchart Fleet Management/gcx-service-account-token")
export IHUB_APP_NAMESPACE=default
