---
# -- Name override
# @section -- General settings
nameOverride: ""

# -- Full name override
# @section -- General settings
fullnameOverride: ""

global:
  # -- The specific platform for this cluster. Will enable compatibility for some platforms. Supported options: (empty) or "openshift".
  # @section -- Global Settings
  platform: ""

# -- The method to gather pod logs. Options are "volumes", "kubernetesApi", "OpenShiftClusterLogForwarder" (experimental).
# @section -- Pod Discovery
gatherMethod: volumes

# -- Only capture logs from pods in these namespaces (`[]` means all namespaces).
# @section -- Pod Discovery
namespaces: []

# -- Do not capture logs from any pods in these namespaces.
# @section -- Pod Discovery
excludeNamespaces: []

# -- Rules to filter pods for log gathering. Only used for "volumes" or "kubernetesApi" gather methods.
# @section -- Pod Discovery
extraDiscoveryRules: ""

# Settings specific for gathering Pod logs using the "volumes" gather method.
volumeGatherSettings:
  # -- Only gather new log lines since this was deployed. Do not gather historical log lines.
  # @section -- Volume Log Gathering
  onlyGatherNewLogLines: false

# -- Stage blocks to be added to the loki.process component for pod logs.
# ([docs](https://grafana.com/docs/alloy/latest/reference/components/loki/loki.process/#blocks))
# This value is templated so that you can refer to other values from this file.
# @section -- Log Processing
extraLogProcessingStages: ""

# -- The list of labels to keep on the logs, all other pipeline labels will be dropped.
# @section -- Log Processing
labelsToKeep:
  - app_kubernetes_io_name
  - container
  - instance
  - job
  - level
  - namespace
  - pod
  - service_name

# -- The structured metadata mappings to set.
# To not set any structured metadata, set this to an empty object (e.g. `{}`)
# Format: `<key>: <extracted_key>`.
# Example:
# structuredMetadata:
#   component: component
#   kind: kind
#   name: name
# @section -- Processing settings
structuredMetadata: {}

# @ignore
deployAsConfigMap: false
