---
# -- Name override
# @section -- General settings
nameOverride: ""

# -- Full name override
# @section -- General settings
fullnameOverride: ""

global:
  # -- The specific platform for this cluster. Will enable compatibility for some platforms. Supported options: (empty) or "openshift".
  # @section -- Global Settings
  platform: ""

# -- The method to gather pod logs. Options are "volumes", "kubernetesApi", "OpenShiftClusterLogForwarder" (experimental).
gatherMethod: volumes

# -- Only capture logs from pods in these namespaces (`[]` means all namespaces).
# @section -- Logs Scrape: Pod Logs
namespaces: []

# -- Do not capture logs from any pods in these namespaces.
# @section -- Logs Scrape: Pod Logs
excludeNamespaces: []

# -- Rules to filter pods for log gathering. Only used for "volumes" or "kubernetesApi" gather methods.
extraDiscoveryRules: ""

# -- Stage blocks to be added to the loki.process component for pod logs.
# ([docs](https://grafana.com/docs/alloy/latest/reference/components/loki/loki.process/#blocks))
# This value is templated so that you can refer to other values from this file.
extraLogProcessingStages: ""

receiver:
  enabled: false
  port: 3100

# @ignore
deployAsConfigMap: false
