mkdir -p cluster-installer-files
rm -f cluster-installer-files/gcp_service_account_key.json
op --account grafana.1password.com read --out-file cluster-installer-files/gcp_service_account_key.json "op://Kubernetes Monitoring/GCP k8s-monitoring-helm-cluster-creator/credential"
export GOOGLE_CLOUD_KEYFILE_JSON=$(pwd)/cluster-installer-files/gcp_service_account_key.json
export KUBECONFIG=$(pwd)/cluster-installer-files/auth/kubeconfig

export GRAFANA_CLOUD_METRICS_USERNAME=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Prometheus/username")
export GRAFANA_CLOUD_LOGS_USERNAME=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Loki/username")
export GRAFANA_CLOUD_RW_POLICY_TOKEN=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Prometheus/password")
export RANDOM_NUMBER=$(shuf -i 100000-999999 -n 1)
