export GCP_SERVICE_ACCOUNT=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/GCP k8s-monitoring-helm-cluster-creator/username")
export GOOGLE_CLOUD_KEYFILE_JSON="$(pwd)/gcp_service_account_key.json"
if [ ! -f "${GOOGLE_CLOUD_KEYFILE_JSON}" ]; then
  op --account grafana.1password.com read --out-file "${GOOGLE_CLOUD_KEYFILE_JSON}" "op://Kubernetes Monitoring/GCP k8s-monitoring-helm-cluster-creator/credential"
fi

gcloud auth activate-service-account "${GCP_SERVICE_ACCOUNT}" --key-file="${GOOGLE_CLOUD_KEYFILE_JSON}"
export KUBECONFIG=$(pwd)/kubeconfig.yaml

export GRAFANA_CLOUD_METRICS_USERNAME=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Prometheus/username")
export GRAFANA_CLOUD_LOGS_USERNAME=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Loki/username")
export GRAFANA_CLOUD_RW_POLICY_TOKEN=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Prometheus/password")
