{{- if and (index .Values "alloy-operator").deploy (index .Values "alloy-operator").waitForAlloyRemoval.enabled }}
{{- $jobName := (printf "%s-add-finalizer" (include "helper.fullname" .)) | trunc 63 | trimSuffix "-" }}
{{- $jobSettings := (index .Values "alloy-operator").waitForAlloyRemoval -}}
{{- $imagePullSecrets := $jobSettings.image.pullSecrets }}
{{- if ((index .Values.global "image") | default dict).pullSecrets }}
  {{- $imagePullSecrets = (index .Values.global "image").pullSecrets }}
{{- end }}
---
apiVersion: batch/v1
kind: Job
metadata:
  name: {{ $jobName }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/name: {{ $jobName }}
    app.kubernetes.io/instance: {{ .Release.Name }}
    helm.sh/chart: {{ include "helper.chart" . }}
  annotations:
    helm.sh/hook: post-install,post-upgrade
    helm.sh/hook-weight: "15"
    helm.sh/hook-delete-policy: before-hook-creation,hook-succeeded
spec:
  ttlSecondsAfterFinished: 300
  backoffLimit: 3
  template:
    metadata:
      name: {{ $jobName }}
  {{- with $jobSettings.podAnnotations }}
      annotations:
{{ $jobSettings.podAnnotations | toYaml | indent 8 }}
  {{- end }}
      labels:
        app.kubernetes.io/name: {{ include "helper.fullname" . }}
        app.kubernetes.io/instance: {{ .Release.Name }}
{{ $jobSettings.podLabels | toYaml | indent 8 }}
    spec:
      restartPolicy: Never
      {{- with $jobSettings.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with $jobSettings.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ $jobName }}
      {{- if $imagePullSecrets }}
      imagePullSecrets:{{ toYaml $imagePullSecrets | nindent 8 }}
      {{- end }}
      containers:
        - name: add-finalizers
          {{- with $jobSettings.image }}
            {{- if .digest }}
          image: "{{ dig "image" "registry" .registry $.Values.global }}/{{ .repository }}@{{ .digest }}"
            {{- else }}
          image: "{{ dig "image" "registry" .registry $.Values.global }}/{{ .repository }}:{{ .tag }}"
            {{- end }}
          {{- end }}
          imagePullPolicy: {{ $jobSettings.image.pullPolicy }}
          command:
            - /bin/bash
            - -ce
            - |
              kubectl patch \
                --namespace={{ .Release.Namespace }} \
                --patch='{"metadata":{"finalizers":["k8s.grafana.com/finalizer"]}}' \
                deployment/{{ include "alloy-operator.fullname" (index .Subcharts "alloy-operator") }}
          securityContext:
            runAsNonRoot: true
            runAsUser: 4242
            allowPrivilegeEscalation: false
            capabilities:
              drop: ["ALL"]
            readOnlyRootFilesystem: true
            seccompProfile:
              type: RuntimeDefault
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ $jobName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "5"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: {{ $jobName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "5"
rules:
  - apiGroups: ["apps"]
    resources: ["deployments"]
    verbs: ["get", "list", "watch", "patch"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  name: {{ $jobName }}
  namespace: {{ .Release.Namespace }}
  annotations:
    "helm.sh/hook": post-install,post-upgrade
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    "helm.sh/hook-weight": "5"
subjects:
  - kind: ServiceAccount
    name: {{ $jobName }}
    namespace: {{ .Release.Namespace }}
roleRef:
  kind: Role
  name: {{ $jobName }}
  apiGroup: rbac.authorization.k8s.io
{{- end }}
