{{- if .Values.configValidator.enabled }}
{{- $enabledAlloy := include "getEnabledAlloy" . }}
---
apiVersion: v1
kind: Pod
metadata:
  name: {{ include "config-validator.fullname" . | quote }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
    {{- range $key, $val := .Values.configValidator.extraLabels }}
    {{ $key }}: {{ $val | quote }}
    {{- end}}
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
    {{- range $key, $val := .Values.configValidator.extraAnnotations }}
    {{ $key }}: {{ $val | quote }}
    {{- end}}
spec:
  {{- if .Values.configValidator.serviceAccount.name }}
  serviceAccountName: {{ .Values.configValidator.serviceAccount.name }}
  {{- end }}
  {{- if or .Values.global.image.pullSecrets (index .Values $enabledAlloy).image.pullSecrets }}
  imagePullSecrets:
    {{- if .Values.global.image.pullSecrets }}
    {{- toYaml .Values.global.image.pullSecrets | nindent 8 }}
    {{- else }}
    {{- toYaml (index .Values $enabledAlloy).image.pullSecrets | nindent 8 }}
    {{- end }}
  {{- end }}
  restartPolicy: Never
  {{- with .Values.configValidator.nodeSelector }}
  nodeSelector:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  {{- with .Values.configValidator.tolerations }}
  tolerations:
    {{- toYaml . | nindent 8 }}
  {{- end }}
  containers:
    - name: alloy
      image: "{{ .Values.global.image.registry | default (index .Values $enabledAlloy).image.registry }}/{{ (index .Values $enabledAlloy).image.repository }}{{ include "alloy.imageId" .Subcharts.alloy }}"
      command:
      - bash
      - -c
      - |
        echo Validating Grafana Alloy config file
        if ! alloy fmt /etc/alloy/config.alloy > /dev/null; then
          exit 1
        fi
        output=$(alloy run --stability.level {{ (index .Values $enabledAlloy).alloy.stabilityLevel | default "generally-available" }} "/etc/alloy/config.alloy" 2>&1)
        if ! echo "${output}" | grep "KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined" >/dev/null; then
          echo "${output}"
          exit 1
        fi
        echo "Grafana Alloy config file is valid"
{{- if and .Values.logs.enabled .Values.logs.cluster_events.enabled }}
        echo Validating Grafana Alloy for Events config file
        if ! alloy fmt /etc/alloy/events.alloy > /dev/null; then
          exit 1
        fi
        output=$(alloy run --stability.level {{ (index .Values "alloy-events").alloy.stabilityLevel | default "generally-available" }} "/etc/alloy/events.alloy" 2>&1)
        if ! echo "${output}" | grep "KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined" >/dev/null; then
          echo "${output}"
          exit 1
        fi
        echo "Grafana Alloy for Events config file is valid"
{{- end }}
{{- if and .Values.logs.enabled .Values.logs.pod_logs.enabled }}
        echo Validating Grafana Alloy for Logs config file
        if ! alloy fmt /etc/alloy/logs.alloy > /dev/null; then
          exit 1
        fi
        output=$(alloy run --stability.level {{ (index .Values "alloy-logs").alloy.stabilityLevel | default "generally-available" }} "/etc/alloy/logs.alloy" 2>&1)
        if ! echo "${output}" | grep "KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined" >/dev/null; then
          echo "${output}"
          exit 1
        fi
        echo "Grafana Alloy for Logs config file is valid"
{{- end }}
{{- if .Values.profiles.enabled }}
        echo Validating Grafana Alloy for Profiles config file
        if ! alloy fmt /etc/alloy/profiles.alloy > /dev/null; then
          exit 1
        fi
        output=$(alloy run --stability.level {{ (index .Values "alloy-profiles").alloy.stabilityLevel | default "generally-available" }} "/etc/alloy/profiles.alloy" 2>&1)
        if ! echo "${output}" | grep "KUBERNETES_SERVICE_HOST and KUBERNETES_SERVICE_PORT must be defined" >/dev/null; then
          echo "${output}"
          exit 1
        fi
        echo "Grafana Alloy for Profiles config file is valid"
{{- end }}
      env:
        - name: KUBERNETES_SERVICE_HOST  # Intentionally disable its connection to Kubernetes to make it fail in a known way
          value: ""
        - name: KUBERNETES_SERVICE_PORT  # Intentionally disable its connection to Kubernetes to make it fail in a known way
          value: ""
      volumeMounts:
        - name: config
          mountPath: /etc/alloy
  volumes:
    - name: config
      configMap:
        name: {{ include "config-validator.fullname" . | quote }}
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "config-validator.fullname" . | quote }}
  namespace: {{ .Release.Namespace }}
  labels:
    app.kubernetes.io/managed-by: {{ .Release.Service | quote }}
    app.kubernetes.io/instance: {{ .Release.Name | quote }}
    app.kubernetes.io/version: {{ .Chart.AppVersion }}
    helm.sh/chart: "{{ .Chart.Name }}-{{ .Chart.Version }}"
  annotations:
    "helm.sh/hook": pre-install,pre-upgrade
    "helm.sh/hook-weight": "-5"
    "helm.sh/hook-delete-policy": before-hook-creation,hook-succeeded
data:
  config.alloy: |-
    {{- include "alloyConfig" . | trim | nindent 4 }}
{{- if and .Values.logs.enabled .Values.logs.cluster_events.enabled }}
  events.alloy: |-
    {{- include "alloyEventsConfig" . | trim | nindent 4 }}
{{- end }}
{{- if and .Values.logs.enabled .Values.logs.pod_logs.enabled }}
  logs.alloy: |-
    {{- include "alloyLogsConfig" . | trim | nindent 4 }}
{{- end }}
{{- if .Values.profiles.enabled }}
  profiles.alloy: |-
    {{- include "alloyProfilesConfig" . | trim | nindent 4 }}
{{- end }}
{{- end -}}
