---
apiVersion: v2
name: k8s-monitoring
description: A Helm chart for gathering, scraping, and forwarding Kubernetes telemetry data to a Grafana Stack.
type: application
version: 1.6.29
appVersion: 2.13.1
icon: https://raw.githubusercontent.com/grafana/grafana/main/public/img/grafana_icon.svg
sources:
  - https://github.com/grafana/k8s-monitoring-helm/tree/main/charts/k8s-monitoring-v1
maintainers:
  - email: pete.wall@grafana.com
    name: petewall
  - email: stephen.lang@grafana.com
    name: skl
dependencies:
  - name: alloy
    version: 0.12.5
    repository: https://grafana.github.io/helm-charts
    condition: alloy.enabled
  - alias: alloy-events
    name: alloy
    version: 0.12.5
    repository: https://grafana.github.io/helm-charts
    condition: logs.cluster_events.enabled
  - alias: alloy-logs
    name: alloy
    version: 0.12.5
    repository: https://grafana.github.io/helm-charts
    condition: logs.pod_logs.enabled
  - alias: alloy-profiles
    name: alloy
    version: 0.12.5
    repository: https://grafana.github.io/helm-charts
    condition: profiles.enabled
  - name: kube-state-metrics
    version: 5.30.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: kube-state-metrics.enabled
  - name: prometheus-node-exporter
    version: 4.44.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-node-exporter.enabled
  - name: prometheus-operator-crds
    version: 18.0.1
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-operator-crds.enabled
  - name: prometheus-windows-exporter
    version: 0.9.0
    repository: https://prometheus-community.github.io/helm-charts
    condition: prometheus-windows-exporter.enabled
  - name: opencost
    version: 1.43.2
    repository: https://opencost.github.io/opencost-helm-chart
    condition: opencost.enabled
  - name: kepler
    version: 0.5.13
    repository: https://sustainable-computing-io.github.io/kepler-helm-chart
    condition: kepler.enabled
  - name: beyla
    version: 1.7.3
    repository: https://grafana.github.io/helm-charts
    condition: beyla.enabled
