---
# -- Name for this etcd instance.
# @section -- General Settings
name: ""

# -- The value of the job label for scraped metrics and logs
# @section -- General Settings
jobLabel: integrations/etcd

# -- Namespaces to look for etcd instances.
# Will automatically look for etcd instances in all namespaces unless specified here
# @section -- Discovery Settings
namespaces: []

# -- Discover etcd instances based on field selectors.
# @section -- Discovery Settings
fieldSelectors: []

# -- Discover etcd instances based on label selectors. At least one is required.
# @section -- Discovery Settings
labelSelectors: {}

metrics:
  # -- The etcd metrics port number to scrape metrics from. Defined on the etcd pod with:
  # `--listen-metrics-urls=http://127.0.0.1:2381`
  # @section -- Discovery Settings
  port: 2381

  # -- How frequently to scrape metrics from etcd.
  # @default -- `60s`
  # @section -- Scrape Settings
  scrapeInterval:

  # -- The timeout for scraping metrics from etcd.
  # @default -- `10s`
  # @section -- Scrape Settings
  scrapeTimeout: ""

  # -- Sets the max_cache_size for cadvisor prometheus.relabel component.
  # This should be at least 2x-5x your largest scrape target or samples appended rate.
  # ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus.relabel/#arguments))
  # Overrides global.maxCacheSize
  # @default -- `100000`
  # @section -- Metric Processing Settings
  maxCacheSize:

  # Adjustments to the scraped metrics to filter the amount of data sent to storage.
  tuning:
    # -- Metrics to keep. Can use regular expressions.
    # @section -- Metric Processing Settings
    includeMetrics: []
    # -- Metrics to drop. Can use regular expressions.
    # @section -- Metric Processing Settings
    excludeMetrics: []
