---
# -- Name for this PostgreSQL instance.
# @section -- General Settings
name: ""

# -- The value of the job label for scraped metrics and logs
# @section -- General Settings
jobLabel: integration/postgresql

# Settings for metrics collection
metrics:
  # -- Whether to enable metrics collection from PostgreSQL Exporter.
  # @section -- Metrics Settings
  enabled: true

  # -- How frequently to scrape metrics from PostgreSQL Exporter.
  # @default -- `60s`
  # @section -- Scrape Settings
  scrapeInterval:

  # -- The timeout for scraping metrics from PostgreSQL Exporter.
  # @default -- `10s`
  # @section -- Scrape Settings
  scrapeTimeout: ""

  # -- Sets the max_cache_size for prometheus.relabel component.
  # This should be at least 2x-5x your largest scrape target or samples appended rate.
  # ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus.relabel/#arguments))
  # Overrides global.maxCacheSize
  # @default -- `100000`
  # @section -- Metric Processing Settings
  maxCacheSize:

  # Adjustments to the scraped metrics to filter the amount of data sent to storage.
  tuning:
    # -- Metrics to keep. Can use regular expressions.
    # @section -- Metric Processing Settings
    includeMetrics: []
    # -- Metrics to drop. Can use regular expressions.
    # @section -- Metric Processing Settings
    excludeMetrics: []

  # -- Rule blocks to be added to the prometheus.relabel component for PostgreSQL metrics.
  # These relabeling rules are applied post-scrape against the metrics returned from the scraped target, no `__meta*` labels are present.
  # ([docs](https://grafana.com/docs/alloy/latest/reference/components/prometheus/prometheus.relabel/#rule-block))
  # @section -- Metric Processing Settings
  extraMetricProcessingRules: ""

# Settings for log gathering using the Pod Logs feature
logs:
  # -- Whether to enable special processing of PostgreSQL pod logs.
  # @section -- Logs Settings
  enabled: true

  # -- The namespaces to look for PostgreSQL instances in.
  # Will automatically look for PostgreSQL instances in all namespaces unless specified here
  # @section -- Discovery Settings
  namespaces: []

  # -- Discover PostgreSQL instances based on label selectors. At least one is required.
  # @section -- Discovery Settings
  labelSelectors: {}

# Settings for the Alloy embedded PostgreSQL Exporter
exporter:
  # -- The data source string to use for the PostgreSQL Exporter.
  # @section -- Exporter Settings
  dataSourceName: ""

  # The data source to use for the PostgreSQL Exporter.
  dataSource:
    # -- The PostgreSQL host to connect to.
    # @section -- Exporter Settings
    host: ""
    # -- The PostgreSQL port to connect to.
    # @section -- Exporter Settings
    port: 5432
    # -- The PostgreSQL protocol type.
    # @section -- Exporter Settings
    protocol: "postgresql"
    auth:
      # -- The username to use for the PostgreSQL connection.
      # @section -- Exporter Settings
      username: ""
      # -- The key for storing the username in the secret.
      # @section -- Exporter Settings
      usernameKey: "username"
      # -- Raw config for accessing the username.
      # @section -- Exporter Settings
      usernameFrom: ""
      # -- The password to use for the PostgreSQL connection.
      # @section -- Exporter Settings
      password: ""
      # -- The key for storing the password in the secret.
      # @section -- Exporter Settings
      passwordKey: "password"
      # -- Raw config for accessing the password.
      # @section -- Exporter Settings
      passwordFrom: ""

    # -- The SSL mode setting to use. Options are none, "verify-full", "verify-ca", "require", "prefer", "allow", and
    # "disable". See the [documentation](https://www.postgresql.org/docs/current/libpq-ssl.html#LIBPQ-SSL-PROTECTION)
    # for details.
    # @section -- Exporter Settings
    sslmode: ""

  autoDiscovery:
    enabled: false
    databaseAllowList: []
    databaseDenyList: []

  customQueriesConfigPath: ""

  disableDefaultMetrics: false

  disableSettingsMetrics: false

  # -- The list of collectors to enable for the PostgreSQL Exporter ([Documentation](https://grafana.com/docs/alloy/latest/reference/components/prometheus/prometheus.exporter.PostgreSQL/#supported-collectors)).
  # This used to be a list of collector names. This format is still supported, but the new format will allow for
  # customization.
  # @section -- Exporter Settings
  # collectors: ["heartbeat", "PostgreSQL.user"]
  collectors:
    buffercacheSummary:
      enabled: false
    database:
      enabled: true
    databaseWraparound:
      enabled: false
    locks:
      enabled: true
    longRunningTransactions:
      enabled: false
    postmaster:
      enabled: false
    processIdle:
      enabled: false
    replication:
      enabled: true
    replicationSlot:
      enabled: true
    statActivityAutovacuum:
      enabled: false
    statBGWriter:
      enabled: true
    statCheckpointer:
      enabled: false
    statDatabase:
      enabled: true
    statProgressVacuum:
      enabled: true
    statStatements:
      enabled: false
      # -- Enable the selection of query ID and SQL statement.
      includeQuery: false
      # -- Maximum length of the statement query text.
      # @default -- 120
      queryLength:
    statUserTables:
      enabled: true
    statWALReceiver:
      enabled: false
    statioUserIndexes:
      enabled: false
    statioUserTables:
      enabled: true
    wal:
      enabled: true
    xlogLocation:
      enabled: false

# Capture table, schema, and query information for the Database Observability feature in Grafana Cloud.
databaseObservability:
  # -- Whether to gather table, schema, and query information from the database. Requires exporter to be enabled.
  # @section -- Database Observability
  enabled: false

  # -- Whether to allow updates to performance_schema settings in any collector.
  # @section -- Database Observability
  allowUpdatePerformanceSchemaSettings: false

  collectors:
    # Collect explain plans information.
    explainPlans:
      # -- Enable collection of explain plans information.
      # @section -- Database Observability - Collectors
      enabled: false
      # -- How frequently to collect explain plans information from the database.
      # @section -- Database Observability - Collectors
      collectInterval: 1m
      # -- List of schemas to exclude from explain plan collection.
      # @section -- Database Observability - Collectors
      excludeSchemas: []
      # -- How far back to look for explain plan queries on the first collection interval.
      # @section -- Database Observability - Collectors
      initialLookback: 24h
      # -- Ratio of explain plan queries to collect per collect interval.
      # @section -- Database Observability - Collectors
      perCollectRatio: 1.0
    locks:
      # -- Enable collection of lock information.
      # @section -- Database Observability - Collectors
      enabled: false
      # -- How frequently to collect lock information from the database.
      # @section -- Database Observability - Collectors
      collectInterval: 1m
      # -- Threshold for locks to be considered slow. Locks that exceed this duration are logged.
      # @section -- Database Observability - Collectors
      threshold: 1s

    # Collect queries information.
    queryDetails:
      # -- Enable collection of query information.
      # @section -- Database Observability - Collectors
      enabled: true
      # -- How frequently to collect query information from the database.
      # @section -- Database Observability - Collectors
      collectInterval: 1m

    # Collect query samples.
    querySamples:
      # -- Enable collection of query samples.
      # @section -- Database Observability - Collectors
      enabled: true
      # -- How frequently to collect query samples from the database.
      # @section -- Database Observability - Collectors
      collectInterval: 1m
      # -- Collect unredacted SQL query text including parameters.
      # @section -- Database Observability - Collectors
      disableQueryRedaction: false
      # -- Whether to enable some specific performance_schema.setup_consumers settings.
      # @section -- Database Observability - Collectors
      autoEnableSetupConsumers: false
      # -- How frequently to check if setup_consumers are correctly enabled.
      # @section -- Database Observability - Collectors
      setupConsumersCheckInterval: 1h

    # Collect schemas and tables from information_schema.
    schemaDetails:
      # -- Enable collection of schemas and tables from information_schema.
      # @section -- Database Observability - Collectors
      enabled: true
      # -- How frequently to collect schemas and tables from information_schema.
      # @section -- Database Observability - Collectors
      collectInterval: 1m
      # -- Whether to enable caching of table definitions.
      # @section -- Database Observability - Collectors
      cacheEnabled: false
      # -- Table definitions cache size.
      # @section -- Database Observability - Collectors
      cacheSize: 256
      # -- Table definitions cache TTL.
      # @section -- Database Observability - Collectors
      cacheTTL: 10m

    # Collect enabled performance_schema.setup_consumers.
    setupConsumers:
      # -- Enable collection of performance_schema.setup_consumers information.
      # @section -- Database Observability - Collectors
      enabled: true
      # -- How frequently to collect performance_schema.setup_consumers information from the database.
      # @section -- Database Observability - Collectors
      collectInterval: 1m

secret:
  # -- (bool) Whether to create a secret to store credentials for this PostgreSQL integration instance.
  # @default -- `true`
  # @section -- Secret
  create:
  # -- If true, skip secret creation and embed the credentials directly into the configuration.
  # @section -- Secret
  embed: false
  # -- The name of the secret to create.
  # @section -- Secret
  name: ""
  # -- The namespace for the secret.
  # @section -- Secret
  namespace: ""
