AWS_ACCESS_KEY_ID=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/AWS Access Key/access key id")
AWS_SECRET_ACCESS_KEY=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/AWS Access Key/secret access key")
export AWS_ACCESS_KEY_ID
export AWS_SECRET_ACCESS_KEY
export AWS_DEFAULT_REGION=ap-northeast-2

export GRAFANA_CLOUD_METRICS_USERNAME=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Prometheus/username")
export GRAFANA_CLOUD_LOGS_USERNAME=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Loki/username")
export GRAFANA_CLOUD_RW_POLICY_TOKEN=$(op --account grafana.1password.com read "op://Kubernetes Monitoring/helmchart Prometheus/password")
export RANDOM_NUMBER=$(shuf -i 100000-999999 -n 1)
