{{- range $collectorName := include "collectors.list.enabled" . | fromYamlArray }}
{{- include "crdValidation" $ }}
{{- $values := (deepCopy $ | merge (dict "collectorName" $collectorName)) }}
{{- $alloyValues := (include "collector.alloy.values" $values | fromYaml) | merge (dict "nameOverride" $collectorName) }}
{{- $alloySpec := include "collector.alloy.valuesToSpec" $alloyValues }}
---
apiVersion: collectors.grafana.com/v1alpha1
kind: Alloy
metadata:
  name: {{ include "collector.alloy.fullname" $values }}
  namespace: {{ $.Release.Namespace }}
  annotations:
    helm.sdk.operatorframework.io/uninstall-wait: "true"
  {{- with $alloyValues.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- if $alloyValues.labels }}
  labels:
  {{- with $alloyValues.labels }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
spec:{{ $alloySpec | trim | nindent 2 }}
{{- end }}
