apiVersion: v1
kind: Secret
metadata:
  name: grafana-agent-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
{{- if .Values.metrics.enabled }}
  prometheus_host: {{ required ".Values.externalServices.prometheus.host is required to use metrics. Please set it and try again." .Values.externalServices.prometheus.host | b64enc | quote }}
  {{- if .Values.externalServices.prometheus.basicAuth.username }}
  prometheus_username: {{ .Values.externalServices.prometheus.basicAuth.username | toString | b64enc | quote }}
  {{- end }}
  {{- if .Values.externalServices.prometheus.basicAuth.password }}
  prometheus_password: {{ .Values.externalServices.prometheus.basicAuth.password | toString | b64enc | quote }}
  {{- end }}
{{- end }}
{{- if .Values.logs.enabled }}
  loki_host: {{ required ".Values.externalServices.loki.host is required to use logs or events. Please set it and try again."  .Values.externalServices.loki.host | b64enc | quote }}
  {{- if .Values.externalServices.loki.basicAuth.username }}
  loki_username: {{ .Values.externalServices.loki.basicAuth.username | toString | b64enc | quote }}
  {{- end }}
  {{- if .Values.externalServices.loki.basicAuth.username }}
  loki_password: {{ .Values.externalServices.loki.basicAuth.password | toString | b64enc | quote }}
  {{- end }}
{{- end }}
