{{- if .Values.externalServices.createSecret }}
apiVersion: v1
kind: Secret
metadata:
  name: grafana-agent-credentials
  namespace: {{ .Release.Namespace }}
type: Opaque
data:
{{- if .Values.metrics.enabled }}
  prometheus_host: {{ required ".Values.externalServices.prometheus.host is required to use metrics. Please set it and try again." .Values.externalServices.prometheus.host | b64enc | quote }}
  prometheus_username: {{ required ".Values.externalServices.prometheus.username is required to use metrics. Please set it and try again."  .Values.externalServices.prometheus.username | toString | b64enc | quote }}
  prometheus_password: {{ required ".Values.externalServices.prometheus.password is required to use metrics. Please set it and try again."  .Values.externalServices.prometheus.password | toString | b64enc | quote }}
{{- end }}
{{- if .Values.logs.enabled }}
  loki_host: {{ required ".Values.externalServices.loki.host is required to use logs or events. Please set it and try again."  .Values.externalServices.loki.host | b64enc | quote }}
  loki_username: {{ required ".Values.externalServices.loki.username is required to use logs or events. Please set it and try again."  .Values.externalServices.loki.username | toString | b64enc | quote }}
  loki_password: {{ required ".Values.externalServices.loki.password is required to use logs or events. Please set it and try again."  .Values.externalServices.loki.password | toString | b64enc | quote }}
{{- end }}
{{- end }}
