{{- include "validations.checkForV1" . }}
{{- include "validations.cluster_name" . }}
{{- include "validations.platform" . }}

{{- include "destinations.validate" . -}}

{{- /* Feature Validations*/}}
{{- include "validations.features_enabled" . }}
{{- range $feature := ((include "features.list" .) | fromYamlArray) }}
  {{- include (printf "features.%s.validate" $feature) $ }}
{{- end }}

{{- include "collectors.validate.featuresEnabled" . }}
{{- range $collectorName := ((include "collectors.list.enabled" .) | fromYamlArray) }}
  {{- include "collectors.validate.liveDebugging" (dict "collectorName" $collectorName "Files" $.Files "Values" $.Values) }}
  {{- include "collectors.validate.remoteConfig" (dict "collectorName" $collectorName "Files" $.Files "Values" $.Values) }}
{{- end }}
---