name: Test

on:
  push:
    branches: [ "main" ]
  pull_request:

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

env:
  CT_CONFIGFILE: "${{ github.workspace }}/.github/configs/ct.yaml"
  LINT_CONFIGFILE: "${{ github.workspace }}/.github/configs/lintconf.yaml"
  PROMETHEUS_VALUES: "${{ github.workspace }}/.github/configs/prometheus.yaml"
  PROMETHEUS_SECRET: "${{ github.workspace }}/.github/configs/prometheus-creds.yaml"
  LOKI_VALUES: "${{ github.workspace }}/.github/configs/loki.yaml"
  TEMPO_VALUES: ""  # No values for now
  GRAFANA_VALUES: "${{ github.workspace }}/.github/configs/grafana.yaml"
  SECRETGEN_CONTROLLER_MANIFEST: https://github.com/carvel-dev/secretgen-controller/releases/latest/download/release.yml
  CERTIFICATES_MANIFEST: "${{ github.workspace }}/.github/configs/certificates.yaml"

jobs:
  check-for-doc-changes:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Regenerate docs
      run: |
        docker run --rm \
          -v "$(pwd)/charts/k8s-monitoring:/helm-docs" \
          -u "$(id -u)" \
          jnorwood/helm-docs
        if ! git diff --exit-code; then
          echo "Helm chart documentation is not up to date. Please run 'helm-docs' and commit changes!" >&2
          exit 1
        fi

  check-for-example-output-changes:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Install Helm
      uses: azure/setup-helm@v3

    - name: Check for example output changes
      run: |
        make regenerate-example-outputs
        if [ ! -z "$(git status --porcelain)" ]; then
          echo "Helm chart examples are not up to date. Please run 'make regenerate-example-outputs', examine changes, and commit changes." >&2
          exit 1
        fi

  static-test-chart:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0  # Required for `ct lint` to work

    - name: Install Helm
      uses: azure/setup-helm@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        check-latest: true

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2

    - name: Install yq
      run: pip install yq

    - name: Install ShellSpec
      run: |
        curl -fsSL https://git.io/shellspec | sh -s -- --yes

    # Installing the Grafana Agent because we need it to lint the generated agent config files.
    # https://grafana.com/docs/agent/latest/static/set-up/install-agent-linux/#install-on-debian-or-ubuntu
    - name: Install Grafana Agent
      run: |
        sudo mkdir -p /etc/apt/keyrings/
        wget -q -O - https://apt.grafana.com/gpg.key | gpg --dearmor | sudo tee /etc/apt/keyrings/grafana.gpg > /dev/null
        echo "deb [signed-by=/etc/apt/keyrings/grafana.gpg] https://apt.grafana.com stable main" | sudo tee /etc/apt/sources.list.d/grafana.list
        sudo apt-get update
        sudo apt-get install -y grafana-agent

    - name: Run tests
      run: make test

  # TODO: Install prometheus and loki locally, then install our chart so it's connected to those services
  test-chart:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    - name: Set up Helm
      uses: azure/setup-helm@v3

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.9'
        check-latest: true

    - name: Set up chart-testing
      uses: helm/chart-testing-action@v2

    - name: List changed charts
      id: list-changed
      run: |
        changed=$(ct list-changed --config "${CT_CONFIGFILE}")
        if [[ -n "$changed" ]]; then
          echo "changed=true" >> "${GITHUB_OUTPUT}"
        fi

    - name: Create kind cluster
      uses: helm/kind-action@v1
      with:
        config: "${{ github.workspace }}/.github/configs/cluster-config.yaml"
      if: steps.list-changed.outputs.changed == 'true'

    - name: Create SSL Certs
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        kubectl apply -f "${SECRETGEN_CONTROLLER_MANIFEST}"
        kubectl apply -f "${CERTIFICATES_MANIFEST}"

    - name: Set up Helm repositories
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        helm repo add grafana https://grafana.github.io/helm-charts
        helm repo add prometheus-community https://prometheus-community.github.io/helm-charts
        helm repo update

    - name: Deploy Prometheus
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        kubectl apply -f "${PROMETHEUS_SECRET}"
        helm install prometheus prometheus-community/prometheus -f "${PROMETHEUS_VALUES}" -n prometheus --create-namespace --wait

    - name: Deploy Loki
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        helm install loki grafana/loki -f "${LOKI_VALUES}" -n loki --create-namespace --wait

    - name: Deploy Tempo
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        helm install tempo grafana/tempo -n tempo --create-namespace --wait

    - name: Deploy Grafana
      if: steps.list-changed.outputs.changed == 'true'
      run: |
        helm install grafana grafana/grafana -f "${GRAFANA_VALUES}" -n grafana --create-namespace --wait

    - name: Test chart
      if: steps.list-changed.outputs.changed == 'true'
      run: ct install --config "${CT_CONFIGFILE}"
