---
name: Lint
# yamllint disable-line rule:truthy
on:
  push:
    branches: ["main", "2.0-stable"]

  pull_request:

  workflow_dispatch:

permissions: {}

jobs:
  markdown:
    name: Markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - name: Lint markdown files
        run: make lint-markdown

  misspell:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - name: Install misspell
        run: |-
          curl -L -o ./install-misspell.sh https://git.io/misspell
          sudo sh ./install-misspell.sh -b /usr/local/bin
      - name: Run spellcheck
        run: make lint-misspell

  alex:
    name: Alex
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - name: Check files for inappropriate language
        run: make lint-alex

  shellcheck:
    name: Shell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - name: Lint shell files
        run: make lint-shell

  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@ae78205cfffec9e8d93fd2b3115c7e9d3166d4b6  # v5.0.0
      - name: Lint terraform files
        run: make lint-terraform

  yamllint:
    name: YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - name: Lint YAML files
        run: make lint-yaml

  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - uses: raven-actions/actionlint@3a24062651993d40fed1019b58ac6fbdfbf276cc  # v2.0.1

  textlint:
    name: Text files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      - name: Lint text files
        run: make lint-text

  alloy:
    name: Alloy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08eba0b27e820071cde6df949e0beb9ba4906955  # v4.3.0
        with:
          persist-credentials: 'false'
      # Installing Grafana Alloy because we need it to lint the generated alloy config files.
      # https://grafana.com/docs/alloy/latest/get-started/install/linux/
      - name: Install Grafana Alloy
        run: |
          sudo mkdir -p /etc/apt/keyrings/
          wget -q -O - https://apt.grafana.com/gpg.key | gpg --dearmor | sudo tee /etc/apt/keyrings/grafana.gpg > /dev/null
          echo "deb [signed-by=/etc/apt/keyrings/grafana.gpg] https://apt.grafana.com stable main" | sudo tee /etc/apt/sources.list.d/grafana.list
          sudo apt-get update
          sudo apt-get install -y alloy
      - name: Lint Alloy configuration files
        run: make lint-alloy
