---
name: Lint
# yamllint disable-line rule:truthy
on:
  push:
    branches: ["main", "2.0-stable"]

  pull_request:

  workflow_dispatch:

permissions: {}

jobs:
  markdown:
    name: Markdown
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint markdown files
        run: make lint-markdown

  misspell:
    name: Spellcheck
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Install misspell
        run: curl -sfL https://raw.githubusercontent.com/golangci/misspell/refs/heads/main/install-misspell.sh | sh -s -- -b /usr/local/bin v0.7.0
      - name: Run spellcheck
        run: make lint-misspell

  alex:
    name: Alex
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Check files for inappropriate language
        run: make lint-alex

  shellcheck:
    name: Shell
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint shell files
        run: make lint-shell

  terraform:
    name: Terraform
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Setup TFLint
        uses: terraform-linters/setup-tflint@4cb9feea73331a35b422df102992a03a44a3bb33  # v6.2.1
      - name: Lint terraform files
        run: make lint-terraform

  yamllint:
    name: YAML
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint YAML files
        run: make lint-yaml

  actionlint:
    name: GitHub Actions
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - uses: raven-actions/actionlint@e01d1ea33dd6a5ed517d95b4c0c357560ac6f518  # v2.1.1

  textlint:
    name: Text files
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      - name: Lint text files
        run: make lint-text

  alloy:
    name: Alloy
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: 'false'
      # Installing Grafana Alloy because we need it to lint the generated alloy config files.
      # https://grafana.com/docs/alloy/latest/get-started/install/linux/
      - name: Install Grafana Alloy
        run: |
          sudo mkdir -p /etc/apt/keyrings/
          wget -q -O - https://apt.grafana.com/gpg.key | gpg --dearmor | sudo tee /etc/apt/keyrings/grafana.gpg > /dev/null
          echo "deb [signed-by=/etc/apt/keyrings/grafana.gpg] https://apt.grafana.com stable main" | sudo tee /etc/apt/sources.list.d/grafana.list
          sudo apt-get update
          sudo apt-get install -y alloy
      - name: Lint Alloy configuration files
        run: make lint-alloy
