---
name: Build and Push Test Image
# yamllint disable-line rule:truthy
on:
  push:
    branches: [main]
    paths:
      - 'charts/k8s-monitoring-v1/**'

permissions:
  packages: write

jobs:
  build-and-push-test-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
        with:
          persist-credentials: 'false'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@c7c53464625b32c7a7e944ae62b3e17d2b600130  # v3.7.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3.11.1

      - name: Get Version
        id: get-version
        run: |
          version=$(yq -r '.version' "${GITHUB_WORKSPACE}/charts/k8s-monitoring-v1/Chart.yaml")
          echo "version=${version}" >> "${GITHUB_OUTPUT}"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893  # v5.9.0
        with:
          images: ghcr.io/grafana/k8s-monitoring-test
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=${{ steps.get-version.outputs.version }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          context: charts/k8s-monitoring-v1/test
          platforms: linux/amd64,linux/arm64
          provenance: false
          sbom: false
          push: true
          tags: ${{ steps.meta.outputs.tags }}
