---
name: Build and Push Test Image
# yamllint disable-line rule:truthy
on:
  push:
    branches: [main]
    paths:
      - 'charts/k8s-monitoring-v1/**'

permissions:
  packages: write

jobs:
  build-and-push-test-image:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: 'false'

      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392  # v3.6.0

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435  # v3.11.1

      - name: Get Version
        id: get-version
        run: |
          version=$(yq -r '.version' "${GITHUB_WORKSPACE}/charts/k8s-monitoring-v1/Chart.yaml")
          echo "version=${version}" >> "${GITHUB_OUTPUT}"

      - name: Docker meta
        id: meta
        uses: docker/metadata-action@318604b99e75e41977312d83839a89be02ca4893  # v5.9.0
        with:
          images: ghcr.io/grafana/k8s-monitoring-test
          tags: |
            type=raw,value=latest,enable=${{ github.ref == 'refs/heads/main' }}
            type=raw,value=${{ steps.get-version.outputs.version }}

      - name: Login to GitHub Container Registry
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef  # v3.6.0
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83  # v6.18.0
        with:
          context: charts/k8s-monitoring-v1/test
          platforms: linux/amd64,linux/arm64
          provenance: false
          sbom: false
          push: true
          tags: ${{ steps.meta.outputs.tags }}
